body {
    font-family: Arial, sans-serif;
    background: #f0f3f5;
    margin: 0;
    padding: 20px;
}

#app {
    max-width: 750px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #0a3d62;
}

button {
    background: #0a3d62;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #074067;
}

.hidden {
    display: none;
}

.question {
    margin-bottom: 25px;
}

.correct {
    background: #b8f5c1;
    border-left: 5px solid #2ecc71;
    padding: 10px;
}

.wrong {
    background: #ffd0d0;
    border-left: 5px solid #e74c3c;
    padding: 10px;
}
